# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
src/17th WORKING REALLY WELL.zip
src/post that.zip
src/now got larion continents.zip
src/main/java.zip
